.coin-container {
  display: flex;
  justify-content: center;
  padding: 11px 1.3rem;
  margin: 0 2.5rem;
  border-bottom: 1px solid rgb(71, 71, 211);
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 32px;
  width: 200px;
}

.coin img {
  height: 30px;
  width: 30px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  width: 100%;
}

.coin-price {
  width: 125px;
}

.coin-percent {
  width: 125px;
}

.coin-volume {
  width: 215px;
}

.coin-marketcap {
  width: 215px;
}

.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(21, 196, 21);
}

.nameBlock {
  display: flex;
  box-sizing: border-box;
  flex: 0 0 18.6%;
}

.icon {
  display: block;
  width: 42px;
  height: 42px;
  margin: 8px 14px 0 0;
}
