.coin-input {
  padding: 4px 0 5px;
  border: 0;
  border-bottom: 1px solid rgb(71, 71, 211);
  box-sizing: content-box;
  height: 1.4375em;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  display: inline-flex;
  margin-top: 10px;
  width: 320px;
}

.coin-search {
  margin: 46px 0;
}

.coin-input:focus {
  outline: none;
}
